.protected{
    border: 1px solid silver;
    height: 270px;
    width: 50%;
    position: relative;
    left: 25.5%;
    background-color: snow;
    margin-top: 7%;
        input{
            margin-top: 3%;
            margin-left: 35%;
            border-radius: 5px;
            height: 20px;
            padding: 5px;
        }
}